body{background-color: #F2D194;
}

#container {
    background-color: #F2E2CE;
    width: 950px;
    margin: 20px auto;
    border: 4px solid #8C8881;
    padding: 20px;
    border-radius: 20px;
}

header{
    text-align: center;
    padding: 50px;
}

header h1{
    color: black ;
    font-size: 30px;
}

nav{
    text-align: center;
    border-top: 4px solid #8C8881;
    border-bottom: 4px solid #8C8881;
    padding: 20px 0; 
}

nav a{
    color: black;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover{
    color: #F2D194;
    text-decoration: none ;
}

main{
    margin: 20px auto;
    border: 4px solid #8C8881;
    padding: 20px;
    border-radius: 20px;
}

main h2{
    color: black;
    text-align: center;
}

main h3{
    color: black;
    text-align: center;
}

main img{
    display: block;
    margin: 20px auto;
    width: 600px;
    border-radius: 20px;
}

footer{
    padding: 40px 0;
    text-align: center;
     border-top: 4px solid #8C8881;
}