/* Global Styles */

body{
    background-color: #F2F2F2;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

/* Mobile Styles */

#container {
    padding: 10px;
    border: 4px solid #6C7173;
}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;

}

nav li{
  display: block;  
}

nav li a{
    display: block;
    background-color:#9FB3BF ;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 4px solid #6C7173;
}

nav li a:hover{
    background-color: #6C7173;
}

main {
    padding: 10px;
    margin:10px;
}

.main_content{
    padding: 10px ;
}

.col{
    margin: 10px 0;
}

.col img{
    border-radius:  10px; 
    border: 2px solid #9FB3BF ;

}

footer{
    padding: 40px;
    text-align: center;
}

/* Tablet Styles */

@media (min-width: 768px) {

    nav {
        padding: 10px 0;
        border-bottom: 4px solid #6C7173;
    }
    nav li{
        display: inline;
    }
  nav li a {
    display: inline-block;
    width: 150px;
    height:40px ;
  }

  main {
    margin-top: 10px;
  }

  .col img{
    width: 65%;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {}
    #container {
         width: 65%;
         margin: 20px auto;
}
.biography {
    display: flex;
}

.col {
    border: 4px solid #6C7173;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.col img{
    width: 100%;
}

.multi_col{
    display:flex;
}
section,aside{
     border: 4px solid #6C7173;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.home_section{
    width: 70%;
}
.home_aside{
    width: 30%;
}

