body{
    background-color: #6C7173;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #0D0D0D;
}

a:hover {
    color: #F2F2F2;
    text-decoration: none;
}
#container {
    background-color: #F2F2F2;
    width: 50%;
    margin: 20px auto;
    border: 4px solid #0D0D0D;
    padding: 20px;
    border-radius: 20px;
}

header{
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #0D0D0D;
}

header h1{
    font-size: 50px;
}

nav{
    text-align: center;
     border-bottom: 2px solid #0D0D0D;
}

nav ul{
    list-style-type: none;
    padding : 0;
}

nav li{
 display: inline-block;
}

nav li a{
    display: block;
    background-color: #6C7173;
    color: #F2F2F2;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #0D0D0D;
}

nav li a:hover{
    color: #0D0D0D;
    background-color: #F2F2F2;
}

main h2{
    text-align: center;
    color: #0D0D0D;
}

.multi_col {
    display: flex;
}

section, aside{
    border-radius: 20px;
    border: 2px solid #0D0D0D;
    margin: 20px;
    padding: 20px;
}

section{
    width: 75%;
}

aside{
    width: 25%;
}

section img{
    border-radius: 10px;
    border: 2px solid #0D0D0D;
    width: 75%;
}

footer{
    padding: 40px 0;
    text-align: center;
}

.img_style{
    width: 75%;
    border: 2px solid #0D0D0D;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0D0D0D;
    margin-top: 20px;
    margin-bottom: 20px;

}

hr{
    border: 1px solid #0D0D0D;
}